@font-face {
    font-family: "Clash Display";
    src: url("./fonts/ClashDisplay-Extralight.woff") format("woff2"),
        url("./fonts/ClashDisplay-Extralight.woff2") format("woff");
    font-weight: 100;
}

@font-face {
    font-family: "Clash Display";
    src: url("./fonts/ClashDisplay-Regular.woff") format("woff2"),
        url("./fonts/ClashDisplay-Regular.woff2") format("woff");
    font-weight: 300;
}

@font-face {
    font-family: "Neco";
    src: url("./fonts/Neco-Italic.woff2") format("woff2"),
        url("./fonts/Neco-Italic.woff") format("woff");
    font-style: italic;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --header-height: 2.4em;
    --header-border-height: 1px;
    font-size: max(1.8vw, 1.2rem);
}

body{
    background-color: black;
    color: white;
    user-select: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll; 
}  

body::-webkit-scrollbar {
    display: none;
}

svg{
    overflow: visible;
}

.overflow-wp{
    height: 100vh;
    min-height: 24em;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

header{
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
    position: relative;
}

header:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--header-border-height);
    background-image: linear-gradient(90deg, #F4BDE5 0%, #EAEBBA 100%);;
}

header > *{
    margin-top: calc(-1 * var(--header-border-height));
    display: flex;
    align-items: center;
}

.social svg{
    fill: white;
    display: block;
    transition: fill .4s;
}

.social a:nth-child(2){
    margin: 0 1em;
}

.instagram svg{
    height: 0.82em;
}

.instagram:hover svg{
    fill: #fa95e4
}

.linkedin svg{
    height: 0.82em;
}

.linkedin:hover svg{
    fill: #7ed1ff;
}

.youtube svg{
    height: 0.69em;
}

.youtube:hover svg{
    fill: #ff8888;
}

h1{
    font-family: "Clash Display";
    font-size: inherit;
    font-weight: 100;
}

h1 span{
    font-weight: 300;
}

main, footer{
    font-size: 1em;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 5rem;
    flex-flow: column;
    flex: 1;
}

ol{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

ol.hovering li:not(:hover){
    opacity: 0.4;
}


li{
    transition: opacity .4s;
    cursor: pointer;
    display: flex;
    align-items: stretch;
    line-height: 1.44;
}

.project-thumbnail{
    position: absolute;
    pointer-events: none;
    width: 8.5em;
    height: 8.5em;
    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0s;
    opacity: 0;
}

.project-thumbnail.visible{
    z-index: 99;
    opacity: 1;
    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity .4s;

}

.thumbnail-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.circum-thumbnail .thumbnail-img{
    background-image: url(./img/circum.png);
    transform: translate(2em, 15%);
}

.portrait-thumbnail .thumbnail-img{
    background-image: url(./img/portrait.jpg);
    transform: translate(2em, 0%);
}

.pokindex-thumbnail .thumbnail-img{
    background-image: url(./img/pokindex2.jpg);
    transform: translate(2em, 0%);
}

.restcountries-thumbnail .thumbnail-img{
    background-image: url(./img/restcountries.jpg);
    transform: translate(2em, 0%);
}

.loopstudios-thumbnail .thumbnail-img{
    background-image: url(./img/loopstudios.jpg);
    transform: translate(2em, -7.5%);
}

.soundtidy-thumbnail .thumbnail-img{
    background-image: url(./img/soundtidy.jpg);
    transform: translate(2em, -15%);
}

a{
    color: inherit;
    text-decoration: none;
    font-family: "Clash Display";
    font-weight: 100;
    text-align: center;
}

a:visited{
    color: inherit;
}

.year{
    font-family: "Neco";
    font-size: 1.18em;
}

.sticker-to-word{
    position: relative;
}

.progress-sticker{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 100%;
    height: 1.32em;
    margin-left: -0.1em;
    transform-origin: center;
    transform: rotate(-5deg) translateY(-50%);
    pointer-events: none;
}

@keyframes rotate{
    to{
        transform: rotate(360deg);
    }
}

footer{
    height: calc(var(--header-height) * 2);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-family: "Clash Display";
    font-weight: 100;
}

.cursor{
    mix-blend-mode: difference;
    width: 1.4em;
    height: 1.4em;
    border-radius: 2.5em;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: top .5s cubic-bezier(0.22, 1, 0.36, 1),
    left .5s cubic-bezier(0.22, 1, 0.36, 1),
    transform .4s;
    pointer-events: none;
    z-index: 99;
}

.cursor img{
    animation: rotate 7s infinite linear;
}

.cursor.small{
    transform: translate(-50%, -50%) scale(0);
}